@media screen and (max-width:700px){

  .animation__box--active {
    position: absolute;
    top: 70%;
    height: 10%;
    width: 100%;
    overflow: hidden;
  }

  .animation__box {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .first__m {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 4vmin;
    height: 50%;
    width: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }

  .first__m--active {
    position: absolute;
    left: 45%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: first 1s forwards;
  }

  .second__m {
    position: absolute;
    left: 54%;
    top: 30%;
    font-size: 4vmin;
    height: auto;
    width: auto;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
  }

  .second__m--active {
    position: absolute;
    left: 54%;
    top: 30%;
    font-size: 4vmin;
    width: auto;
    font-family: 'Raleway', sans-serif;
    animation: second 1s forwards;
  }

  .mac--active {
    position: absolute;
    left: 48%;
    top: 34%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vmin;
    text-align: left;
    animation: mac 3s 1s forwards;
    writing-mode: horizontal-tb;
  }

  .mac {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .miller--active {
    position: absolute;
    left: 58%;
    top: 34%;
    height: auto;
    width: 0%;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vmin;
    float: left;
    text-align: left;
    animation: miller 3s 1s forwards;
    writing-mode: horizontal-tb;
  }

  .miller {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .memento--active {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .memento {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .mori {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  .mori--active {
    position: absolute;
    height: 0%;
    width: 0%;
    overflow: hidden;
  }

  @keyframes first {
      from {
          top: 30%;
          left: 50%;
      }
      to {
        top: 30%;
        left: 44%;
      }
  }

  @keyframes second {
      from {
          top: 30%;
          left: 54%;
      }
      to {
        top: 30%;
        left: 54%;
      }
  }

  @keyframes mac {
      from {
          width: 0%;
      }
      to {
        width: 15%;
      }
  }

  @keyframes miller {
      from {
          width: 0%;
      }
      to {
        width: 30%;
      }
  }

  @keyframes memento {
      from {
          width: 0%;
      }
      to {
        width: 30%;
      }
  }

  @keyframes mori {
      from {
          width: 0%;
      }
      to {
        width: 5%;
      }
  }


}
