@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.youtube-- {
  position: absolute;
  top: 30%;
  right: 5%;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.youtube--active {
  position: absolute;
  top: 30%;
  right: 5%;
}

.random__mac {
  position: absolute;
  top: 3%;
  left: 5%;
  height: 650px;
  width: 650px;
  border-radius: 50%;
  background: black;
  border: solid .5px black;
}

.mac__face-- {
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 50%;
  width: 35%;
  z-index: 5;
}

.mac__face--album1 {
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 50%;
  width: 35%;
  z-index: 5;
  animation: swimming 5s ease-out forwards
}

.mac__face--album2 {
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 50%;
  width: 35%;
  z-index: 5;
  animation: faces 5s ease-out forwards
}

.mac__face--album3 {
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 50%;
  width: 35%;
  z-index: 5;
  animation: wmwtso 5s ease-out forwards
}

.mac__face--album4 {
  position: absolute;
  top: 25%;
  left: 32.5%;
  height: 50%;
  width: 35%;
  z-index: 5;
  animation: am 5s ease-out forwards
}

.play__song {
  position: absolute;
  top: 10%;
  right: 0%;
  height: 10%;
  width: 10%;
  background: blue;
  cursor: pointer;
  color: white;
}

.swimming {
  position: absolute;
  top: 4%;
  left: 40%;
  height: 20%;
  width: 20%;
  z-index: 12;
  border: solid 2px black;
}

.divine {
  position: absolute;
  top: 14%;
  left: 64%;
  height: 18%;
  width: 18%;
  z-index: 12;
}

.blue {
  position: absolute;
  top: 67%;
  left: 65%;
  height: 18%;
  width: 18%;
  z-index: 12;
}

.kids {
  position: absolute;
  top: 65%;
  right: 67%;
  height: 18%;
  width: 18%;
  z-index: 12;
}

.macadelic {
  position: absolute;
  top: 16%;
  right: 74%;
  height: 9%;
  width: 9%;
  z-index: 12;
}

.delusional {
  position: absolute;
  top: 25%;
  right: 74%;
  height: 9%;
  width: 9%;
  z-index: 12;
}

.bde {
  position: absolute;
  top: 25%;
  right: 65.2%;
  height: 9%;
  width: 9%;
  z-index: 12;
}

.space {
  position: absolute;
  top: 16%;
  right: 65.2%;
  height: 9%;
  width: 9%;
  z-index: 12;
}

.faces {
  position: absolute;
  right: 2.5%;
  top: 40%;
  height: 18%;
  width: 18%;
  z-index: 12;
}

.wmtso {
  position: absolute;
  bottom: 2.5%;
  left: 40%;
  height: 18%;
  width: 18%;
  z-index: 12;
}

.good__am {
  position: absolute;
  left: 2.5%;
  top: 40%;
  height: 18%;
  width: 18%;
  z-index: 12;
}

.title {
  position: absolute;
  height: auto;
  width: auto;
  top: 43%;
  left: 33%;
  color: black;
  font-size: 2.5vw;
  z-index: 15;
  font-family: 'Raleway', sans-serif;
}

.circle {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 30%;
  left: 30%;
  border-top: solid 3px #6DEA75;
  border-right: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px black;
  border-radius: 100%;
  z-index: 13;
  background: white;
  animation: swimming 5s ease-out forwards
}

@keyframes swimming {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(1080deg);
    }
}

@keyframes am {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(990deg);
    }
}

@keyframes wmwtso {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(900deg);
    }
}

@keyframes faces {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(810deg);
    }
}
