.vote {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background: white;
}

.vote__songs {
  position: absolute;
  top: 10%;
  left: 30%;
  height: 80%;
  width: 30%;
  overflow: scroll;
}

.music__vote {
  position: relative;
  border: solid 1px black;
  margin: 5% 5% 10% 10%;
  cursor: pointer;
}

.vote__click {
  position: absolute;
  right: 10%;
  width: 20%;
  height: 100%;
  background: black;
  cursor: pointer;
}

.vote--video-- {
  position: absolute;
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.vote--video--active {
  position: absolute;
  top: 100%;
  height: 5%;
  width: 100%;
  overflow: hidden;
}
